.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px 0px;
  box-shadow: 0 1px 3px -2px black;
  height: 50px;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.website-logo-text1 {
  color: #ff4141;
  font-size: 30px;
  font-weight: 600;
}

.website-logo-text2 {
  color: #ff9a00;
  font-size: 30px;
  font-weight: 600;
  margin-left: -10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
  color: #626262;
  font-size: 15px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-login-cart button {
  width: 90px;
  height: 33px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 11px;
  background: #ff4141;
  color: white;
  margin-left: -40px;
  margin-bottom: 35px;
}

.nav-dropdown {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    padding: 14px 0px;
    height: 48px;
  }

  .website-logo-text1 {
    font-size: 27px;
  }

  .website-logo-text2 {
    font-size: 27px;
  }

  .nav-menu {
    gap: 48px;
    font-size: 14px;
  }

  .nav-logo img {
    height: 60px;
  }

  .nav-login-cart button {
    width: 80px;
    height: 30px;
    font-size: 18px;
  }

  .nav-login-cart img {
    height: 40px;
  }

  .nav-cart-count {
    height: 19px;
    width: 19px;
    font-size: 13px;
    margin-bottom: 32px;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 14px 0px;
    height: 40px;
    align-items: flex-start;
    position: relative;
  }

  .nav-dropdown {
    display: block;
    margin-top: 7px;
    width: px;
    height: 33px;
    rotate: -90deg;
    transition: 0.5s;
  }

  .nav-menu.nav-menu-visible {
    display: flex;
  }

  .website-logo-text1 {
    font-size: 23px;
  }

  .website-logo-text2 {
    font-size: 23px;
  }

  .nav-menu {
    display: none;
    height: 81px;
    width: 98.5%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 65px;
    gap: 30px;
    font-size: 14px;
    box-shadow: 0 1px 3px -2px black;
    padding-left: 10px;
  }

  .nav-logo img {
    height: 49px;
  }

  .nav-login-cart button {
    width: 68px;
    height: 29px;
    font-size: 15px;
  }

  .nav-login-cart img {
    height: 33px;
  }

  .nav-cart-count {
    height: 15px;
    width: 15px;
    font-size: 11px;
    margin-bottom: 30px;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    padding: 10px 0px;
    height: 40px;
    align-items: center;
    position: relative;
  }

  .nav-dropdown {
    display: block;
    margin-top: 1px;
    width: px;
    height: 28px;
    rotate: -90deg;
    transition: 0.5s;
  }

  .nav-menu.nav-menu-visible {
    display: flex;
  }

  .website-logo-text1 {
    font-size: 20px;
  }

  .website-logo-text2 {
    font-size: 20px;
  }

  .nav-menu {
    display: none;
    height: 50px;
    width: 97%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 61px;
    gap: 30px;
    font-size: 13px;
    box-shadow: 0 1px 3px -2px black;
    padding-left: 10px;
  }

  .nav-logo img {
    height: 43px;
  }

  .nav-login-cart button {
    width: 60px;
    height: 30px;
    font-size: 13px;
  }

  .nav-login-cart img {
    height: 33px;
  }

  .nav-cart-count {
    height: 13px;
    width: 12px;
    font-size: 10px;
    margin-bottom: 25px;
  }

  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}
