.popular-outer {
  background: #ff414115;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 90vh;
  width: 100vw;
}

.popular {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 70vh;
  width: 97vw;
  background: white;
  margin-bottom: 20px;
}

.popular-text {
  padding-top: 15px;
  display: flex;
  gap: 10px;
}

#popular-text-1 {
  color: #ff4141;
  font-size: 35px;
  font-weight: 600;
}

#popular-text-2 {
  color: #ff9a00;
  font-size: 35px;
  font-weight: 600;
}

.popular hr {
  margin-top: -5px;
  width: 200px;
  height: 1px;
  border-radius: 100px;
  background: #ff4141;
}

.popular-item {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1024px) {
  #popular-text-1 {
    font-size: 30px;
  }

  #popular-text-2 {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  #popular-text-1 {
    font-size: 25px;
  }

  #popular-text-2 {
    font-size: 25px;
  }

  .popular-item {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
  }
}

@media (max-width: 500px) {
  #popular-text-1 {
    font-size: 22px;
  }

  #popular-text-2 {
    font-size: 22px;
  }

  .popular-item {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
  }
}

